* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--very-light-grey);
  color: var(--greyish-dark-blue);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

