:root {
  --muted-cyan: rgb(95, 180, 162);
  --dark-blue: rgb(32, 58, 76);
  --greyish-dark-blue: rgb(51, 50, 61);
  --very-light-grey: rgb(250, 250, 250);
  --light-grey: rgb(234,234,235);
  --bright-red: rgb(244, 48, 48);
}

