@import "tailwindcss";

/* Temporary Reference
 * Slightly Desaturated Cyan (figma doc) = muted cyan
 * */
:root {
  --muted-cyan: rgb(95, 180, 162);
  --dark-blue: rgb(32, 58, 76);
  --greyish-dark-blue: rgb(51, 50, 61);
  --very-light-grey: rgb(250, 250, 250);
  --light-grey: rgb(234,234,235);
  --bright-red: rgb(244, 48, 48);
}

@theme {
  --color-muted-cyan: var(--muted-cyan);
  --color-dark-blue: var(--dark-blue);
  --color-greyish-dark-blue: var(--greyish-dark-blue);
  --color-very-light-grey: var(--very-light-grey);
  --color-light-grey: var(--light-grey);
  --color-bright-red: var(--bright-red);
  --font-ibarra: Ibarra-Real-Nova, sans-serif;
  --font-public-sans: Public-Sans, sans-serif;
}

@font-face {
  font-family: Ibarra-Real-Nova;
  src:
    url("/fonts/IbarraRealNova-Regular.ttf") format("truetype"),
    url("/fonts/IbarraRealNova-Bold.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: Public-Sans;
  src: url("/fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
